<div class="container">
  <div class="col-md-12 marjin-top-5per article-black">
        <h1 class="text-center">ブログ編集</h1>
        <div class="padding-bottom-15">
          <%= render "form", article: @article %>
    </div>
  </div>
</div>
