<div class="container">
  <div class="col-md-12 marjin-top-5per article-black">
    <h1><%= @article.title %></h1>
    <div class="padding-bottom-15">
      <p class="body"><%= @article.body %></p>
      <p class="text-right">
      </p>
    </div>
    <%= link_to "編集", edit_article_path(@article),class: "btn btn-primary", style: "marjin-right: 30px;" %>
    <%= link_to "削除", article_path(@article), method: :delete, date: {confirm: "削除しますか？"} ,class: "btn btn-danger" %>
  </div>
</div>
